body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1f6f9;

  font-family: "Poppins", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
}

.header {
  font-size: 30px;
  color: tomato;
}

.downSec {
  justify-content: center;
  display: flex;
}

.downSec img {
  width: 50%;
}

h1 {
  color: #212a3e;
}

p {
  font-size: 20px;
  font-weight: 700;
}
